.offcanvas {
  .offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  .h5,
  h5 {
    font-size: 1.25rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #191919;
  }
}
